* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Variables  */
  
  :root {
    --color-theme: #24b8a7;
    --bg-color: rgb(13, 50, 75);
    --color-text: white;
    --color-theme2: #17b9b9;
    --btn-bg-custom: #17b9b9;
  }
  /* Image responsive */
  img {
    max-width: 100%;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .nav-logo-wrapper {
    background-color: var(--btn-bg);
    padding: 0;
    margin: 0;
  }
  
  .btn-bg {
    background-color: var(--btn-bg-custom);
  }
  
.logo {
    color: var(--color-theme);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 204, 210);
  }
  
  .hero {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    height: 150px;
  }
  .bootstrap-portfolio {
    text-align: right;
    color: var(--color-theme);
    padding: 1rem;
    font-weight: bolder;
  }

.image {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .wrapper {
    background-color: rgb(13, 50, 75);
  }
  .profile-image {
    background-color: var(--bg-color);
    background-image: url(../images/profile-image.jpeg);
    background-size: contain;
    min-height: 250px;
    background-repeat: no-repeat;
    margin: 0.5rem auto;
    background-position: bottom;
    border-top: solid white 2px;
    border-bottom: solid white 1px;
  }
  
  .profile-picture {
    margin: 2rem;
    border-radius: 50%;
  }
  
  .title {
    color: var(--color-text);
    padding: 1rem;
  }
  
  .hero-row-item1 {
    padding: 0;
  }
  
  .jumbotron {
    background-size: cover;
    color: var(--color-text);
    text-align: center;
  }
  
  .jumbotron h1 {
    text-align: left;
    color: var(--color-theme);
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2),
      2px 2px 20px rgba(55, 112, 255, 0.36);
  }
  
  .title h1 {
    background-color: var(--bg-color);
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
  }
