* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Variables  */
  
  :root {
    --color-theme: #24b8a7;
    --bg-color: rgb(13, 50, 75);
    --color-text: white;
    --color-theme2: #17b9b9;
    --btn-bg-custom: #17b9b9;
  }
  /* Image responsive */
  img {
    max-width: 100%;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .nav-logo-wrapper {
    background-color: var(--btn-bg);
    padding: 0;
    margin: 0;
  }
  
  .btn-bg {
    background-color: var(--btn-bg-custom);
  }
  
.logo {
    color: var(--color-theme);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 204, 210);
  }
  
  .hero {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    height: 150px;
  }
  .bootstrap-portfolio {
    text-align: right;
    color: var(--color-theme);
    padding: 1rem;
    font-weight: bolder;
  }
