* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Variables  */
  
  :root {
    --color-theme: #24b8a7;
    --bg-color: rgb(13, 50, 75);
    --color-text: white;
    --color-theme2: #17b9b9;
    --btn-bg-custom: #17b9b9;
  }
  /* Image responsive */
  img {
    max-width: 100%;
  }
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .nav-logo-wrapper {
    background-color: var(--btn-bg);
    padding: 0;
    margin: 0;
  }
  
  .btn-bg {
    background-color: var(--btn-bg-custom);
  }
  
.logo {
    color: var(--color-theme);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 204, 210);
  }
  
  .hero {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    height: 150px;
  }
  .bootstrap-portfolio {
    text-align: right;
    color: var(--color-theme);
    padding: 1rem;
    font-weight: bolder;
  }

.image {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .wrapper {
    background-color: rgb(13, 50, 75);
  }
  .profile-image {
    background-color: var(--bg-color);
    background-image: url(../images/profile-image.jpeg);
    background-size: contain;
    min-height: 250px;
    background-repeat: no-repeat;
    margin: 0.5rem auto;
    background-position: bottom;
    border-top: solid white 2px;
    border-bottom: solid white 1px;
  }
  
  .profile-picture {
    margin: 2rem;
    border-radius: 50%;
  }
  
  .title {
    color: var(--color-text);
    padding: 1rem;
  }
  
  .hero-row-item1 {
    padding: 0;
  }
  
  .jumbotron {
    background-size: cover;
    color: var(--color-text);
    text-align: center;
  }
  
  .jumbotron h1 {
    text-align: left;
    color: var(--color-theme);
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2),
      2px 2px 20px rgba(55, 112, 255, 0.36);
  }
  
  .title h1 {
    background-color: var(--bg-color);
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem;
  }

 #contact ul {
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  #about p {
    padding-left: 2rem;
    text-align: left;
  }
  
  .about-me-list {
    display: inline;
    margin-left: 1rem;
    text-align: center;
    margin: 1rem 0;
  }
  
  #work-tiles {
    gap: 2rem;
  }
  
  #skills {
    color: var(--color-text);
    width: 100%;
  }
  
  section {
    background-color: var(--bg-color);
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  
  .col {
    width: 100%;
  }
  
  .section-name {
    color: var(--color-text);
  }
  
  section h2 {
    border-bottom: var(--color-theme) solid 5px;
    padding: 1rem;
    border-top: var(--color-theme) solid 1px;
    margin-top: 0.5rem;
    background-color: rgb(78, 5, 5);
  }
  
  hr {
    color: var(--color-theme);
  }
  
  footer {
    background-color: black;
    padding: 2rem;
  }
  
  a {
    text-decoration: none;
    color: #fefefe !important;
  }
  
  a:hover {
    color: #ffffff !important;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      #69eebb 0px 0px 20px, #69eebb 0px 0px 30px, #f5f3f4 0px 0px 40px,
      #69eebb 0px 0px 50px, #69eebb 0px 0px 75px;
  }
  
  /* Boot strap  modified classes */
  
  .container-fluid {
    padding: 0;
    margin: 0;
  }
  
  .row {
    margin: 0;
  }
  
  .card {
    margin-top: 1rem;
    padding: 0;
    color: black;
  }
  
  .card-body {
    color: var(--color-theme);
    background-color: var(--bg-color);
    text-align: left;
  }
  /* end of bootstrap classes  */
  
  /* Media queries  */
  
  @media (min-width: 768px) {
  
   
  
    section h2 {
      border: none;
      background-color: var(--bg-color);
    }
  
    .border1 {
      border-right: 5px solid var(--color-theme);
    }
  
    .nav {
      flex-direction: row;
      padding: 2rem;
    }
  
    .section-name {
      text-align: center;
    }
  
    .about-me-list {
      display: block;
      margin-left: 1rem;
      text-align: center;
    }
  
    #contact ul {
      display: flex;
      flex-direction: row;
    }
  
  }
  .footer {
    color: var(--color-theme);
  }
